#root {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.header {
  flex: 0.8;
  background-color: black;
  align-content: center;
}
.main {
  flex: 1.618;
  display: flex;
  flex-direction: column;
}

.counter {
  margin: 0 20px;
  font-weight: 600;
  font-size: 20px;
}
.main_button button {
  margin-bottom: 10px;
}
.main_button {
  display: flex;
  flex: 0.3;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}
.main_voteText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.1;
  margin-top: 15px;
  font-size: 19px;
}
.main_voteText_add {
  display: flex;
  flex-direction: column;
  align-items: center;
  span:first-child {
    font-size: 15px;
    margin-bottom: 15px;
  }
  svg {
    margin-top: 10px;
  }
}

.desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px -5px 8px 2px rgba(243, 4, 4, 0.856);
  padding: 0 10px;
  margin-top: 35px;
  background-color: black;
  font-size: 15px;
}
.desc_text {
  padding-top: 10px;
  color: white;
}
.titat {
  color: red;
  font-weight: 600;
}
svg {
  width: 27px;
  height: 27px;
}

.modal_content_btn {
  display: flex;
  justify-content: space-around;
}
